/* General Body Styles */
body {
    background-color: white;
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    body {
    min-height: 100vh;  /* Changed from height: 100vh */
    font-family: 'Times New Roman', Times, serif;
}

/* Header Styling */
#h1strong {
    font-size: 24px;
    text-align: center;
}

#h1color {
    font-size: 28px;
    color: #FA9A30; /* Coral color */
}

.italic-text {
    font-style: italic;
}

.black-font {
    color: black;
    font-style: normal;
}

strong {
    font-weight: bold;
}

/* Horizontal Line (Separator) Styling */
#separator {
    border: none !important;
    border-top: 5px solid #FA9A30 !important; /* Adjust the thickness here */
    height: 5px !important;
    width: 80% !important;
    margin: 20px 0 !important;
}

/* Containers Section Styling */
.container-wrapper {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

#container, #container2 {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 8px 16px;
}

#container {
    overflow: auto;
}

#container2 img {
    width: 100%;
    height: auto;
}

/* Header Text Inside Container */
#header {
    margin: 0;
}

/* Skills Icons Styling */
.skills-icons img {
    margin-right: 10px;
    height: auto;  /* Prevent height distortion */
    width: auto;   /* Keep the width at its original size */
}

#portfolioSamples {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 8px 16px;

}

/* Box Styling */
#b1 {
    height: 64px;
    width: 64px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 8px 8px #FA9A30;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    position: relative;
}

#b2, #b3 {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#b3 {
    color: #FA9A30;
}

#b4 {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#b5, #b6, #b7 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Spinner Styling */
#spinner {
    width: 175px;
    height: 175px;
    animation: rotateSpinner 1.5s infinite;
    position: absolute;
    z-index: -1;
    border-width: 6px;
    border-style: solid;
    border-top-color: #FA9A30;
    border-bottom-color: #000000;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
}

/* Spinner Animation */
@keyframes rotateSpinner {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }
    to {
        opacity: 0;
        transform: rotate(360deg);
    }
}

/* Highlight Text */
.highlight-text {
    color: #FA9A30;
}
