/* Apply Image Background to the Whole Page */
body {
    background-image: url('https://i.ibb.co/kdYwDf6/Gypsy-Girl-1.png'); /* New Image URL */
    background-size: cover; /* Makes the image cover the entire screen */
    background-position: center 30%; /* Adjust vertical position */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: auto;
    height: 100vh; /* Ensures the body covers the full viewport */
    color: white; /* Optional: If you want text to be visible on the background */
}

#spinner {
    width: 700px;
    height: 700px;
    background-color: transparent; /* The inside area of the spinner is transparent */
    animation: rotateSpinner 1.5s infinite;
    border-width: 6px;
    border-style: solid;
    border-top-color: red;
    border-bottom-color: blue;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
}


@keyframes rotateSpinner {
    from {
        opacity: 1;
        transform: rotate(0deg);    }
    to {
        opacity: 0;
        transform: rotate(360deg);
    }
}
